<!DOCTYPE html>
<html>
  <head>
    {% include meta.html %}
    <link href="assets/css/flashblock.css" rel="stylesheet" type="text/css">
    <title>javier.io | 404</title>
  </head>

  <body onload="init()">
    {% include header.html %}
    <div id="content">
      {{ content }}
    </div>

    <script type="text/javascript">
      var PIECE_NUMBER = 1;
    </script>

    <!--replace window size by h1 size so the canvas get drawn in the middle of the page-->
    <!--TODO 05-10-2013 06:15 >> figure out how to modify the mouse movements-->
    <script type="text/javascript" src="assets/js/top-up/jquery/all.js"></script>

    <script type="text/javascript" src="assets/js/js-sm2/soundmanager2-nodebug-jsmin.js"></script>
    <script type="text/javascript" src="assets/js/js-modernizr/modernizr-1.6.min.js"></script>
    <script type="text/javascript" src="assets/js/js-baroque/min/song-data.min.js"></script>
    <script type="text/javascript" src="assets/js/js-baroque/min/thread.min.js"></script>
    <script type="text/javascript" src="assets/js/js-baroque/min/machine.min.js"></script>
    <script type="text/javascript" src="assets/js/js-baroque/min/wheel.min.js"></script>
    <script type="text/javascript" src="assets/js/js-baroque/min/nub.min.js"></script>
    <script type="text/javascript" src="assets/js/js-baroque/min/common.min.js"></script>
    <script type="text/javascript" src="assets/js/js-baroque/min/main.min.js"></script>

    <script type="text/javascript">
      var PIECE_NUMBER = 1;
      /* from genius Alexander Chen: http://www.youtube.com/watch?v=JTWp25pzFCc */
      /* var aboutURL = 'http://blog.chenalexander.com/2011/baroque-bach-cello/'; */
      /* The rest of the code is in main.js */
    </script>
  </body>
</html>
